doctype html
html(ng-app='showApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/united.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-view)
    block content
    

  script(src='/angular/angular.min.js')
  script(src='/lib/angular-route.min.js')
  script(src='/app.js')
  script(src='/home/home.controller.js')
  script(src='/javascripts/jquery-3.1.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
